@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins.scss";


@import "../../scss/_variables_style";
/*---------------------------------------*/
/*--------       Cart Page         ------*/
/*--------------------------------------*/
.cart-table01{
	@include media-breakpoint-up(lg) {
		padding: 50px;
		border-radius: 0px 0px 0px 60px;
	}
	@include media-breakpoint-between(md, lg) {
		padding: 40px;
		border-radius: 0px 0px 0px 30px;
	}
	@include media-breakpoint-up(md) {
		box-shadow: 0px 4px 46px rgba(197, 205, 216, 0.2);
		background-color: #ffffff;
	}
	@include media-breakpoint-down(md) {


	}
}
/*
	Cart Table 01
*/
.cart-table01{
	thead,
	tbody{
		tr{
			> *{
				&:first-child{
					padding-left: 45px;
					padding-right: 10px;
					@include media-breakpoint-down(lg) {
						width: 300px;
					}
				}
			}
		}
	}
	thead{
		th{
			font-family: $default_font02;
			color: $default_color03;
			font-weight: 600;
			font-size: 20px;
			line-height: 1;
			padding-bottom: 18px;
			text-align: left;
		}
		border-bottom:2px solid $border;
	}
	td{
		position: relative;
		padding-top: 32px;
		padding-bottom: 30px;
	}
	.tt-form-inline{
		.tt-form__group{
			padding-bottom: 0 !important;
		}
		@include media-breakpoint-up(lg) {
			.tt-form__control{
				width: 270px;
			}
		}
		@include media-breakpoint-down(lg) {
			.tt-form__control:not(textarea) {
				height: 46px;
			}
		}
	}
}
.cart-table01__close{
	position: absolute;
	top: 0;
	left: 0;
	color: $default_color01;
	font-size: 11px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.table-product{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: center;
	.tt-rating{
		margin-top: 12px;
	}
}
.table-product__img{
	& + .table-product__contnt{
		margin-left: 20px;
	}
	img{
		max-width:60px;
	}
}
.cart-table__price{
	font-family: $default_font02;
	color: #00aeff;
	font-weight: 600;
	font-size: 20px;
}
.table-product__title{
	color: #797d82;
	font-size: 16px;
	line-height: 27px;
	font-weight: 400;
	a{
		color: $default_color03;
		transition: color .2s linear;
		&:hover{
			color: $default_color01;
		}
	}
}

.cart-table__row-btn{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;
	border-top:2px solid $border;
	padding-top: 30px;
	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
		> *{
			width: 100%;
			&:not(:first-child){
				margin-top: 16px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.cart-table01 thead th,
	.cart-table__price{
		font-size: 18px;
	}
}

/*
	Cart Table 02
*/
.cart-table02{
	width: auto;
	tr{
		td{
			position: relative;
			padding-bottom: 10px;
			&:first-child{
				font-size: 16px;
				color: #797d82;
				min-width: 286px;
			}
			&:not(:first-child){
				width: 100%;
			}
			@include media-breakpoint-down(sm) {
				&:first-child{
					min-width: 140px;
				}
			}

		}
		&:not(:first-child){
			td{
				padding-top: 10px;
			}
		}
	}
}