.h-box-tel{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding-right: 3px;
	&:hover{
		.h-box-tel___icon{
			animation: 1200ms ease 0s normal none 1 running shake;
		}
	}
}
.h-box-tel__content{
	white-space:nowrap;
	> *:not(:first-child){
		margin-top: 8px;
	}
}
.h-box-tel___icon{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-width: 49px;
	width: 49px;
	height: 49px;
	border: 2px solid #e5edf4;
	border-radius: 50%;
	fill:$default_color01;
	> *{
		max-width: 15px;
		width: 15px;
		height: 15px;
	}
	& + .h-box-tel__content{
		margin-left: 10px;
	}
}
.h-box-tel__title{
	color: $default_color03;
	font-size: 14px;
	line-height: 1;
}
.h-box-tel__tel{
	color: $default_color01;
	font-weight: 700;
	font-size: 22px;
	line-height: 1;
}
@include media-breakpoint-down(xxl) {
	.h-box-tel__tel{
		font-size: 20px;
	}
}
@include media-breakpoint-down(lg) {
	.h-box-tel___icon{
		min-width: 39px;
		width: 39px;
		height: 39px;
		> *{
			max-width: 12px;
			width: 12px;
			height: 12px;
		}
		& + .h-box-tel__content{
			margin-left: 8px;
		}
	}
	.h-box-tel__title{
		font-size: 13px;
	}
	.h-box-tel__tel{
		font-size: 16px;
		padding-right: 0;
	}
	.h-box-tel__content{
		white-space:nowrap;
		> *:not(:first-child){
			margin-top: 5px;
		}
	}
}
@keyframes shake {
	0% {
		transform: rotateZ(0deg);
	}
	10% {
		transform: rotateZ(-30deg);
	}
	20% {
		transform: rotateZ(15deg);
	}
	30% {
		transform: rotateZ(-10deg);
	}
	40% {
		transform: rotateZ(7.5deg);
		fill:$default_color02;
		border-color: $default_color02;
		box-shadow: 0px 2px 6px rgba(255, 132, 0, 0.35);
	}
	50% {
		transform: rotateZ(-6deg);
		fill:$default_color02;
		border-color: $default_color02;
		box-shadow: 0px 2px 6px rgba(255, 132, 0, 0.35);
	}
	60% {
		transform: rotateZ(5deg);
	}
	70% {
		transform: rotateZ(-4.28571deg);
	}
	80% {
		transform: rotateZ(3.75deg);
	}
	90% {
		transform: rotateZ(-3.33333deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}