/*
	Global Settings
*/
/* Font Family*/
/* font icon*/
/* Global Color */
/* Colors */
/* shadow */
/* title */
/* button */
/* radius */
/* default speed animation */
.blog__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
@media (max-width: 640px) {
  .blog__row {
    flex-wrap: wrap;
  }
}

.blog__col-left {
  flex: 2 1 auto;
}
@media (min-width: 1025px) {
  .blog__col-left {
    margin-right: 36px;
    width: calc(100% - 370px);
  }
}
@media (max-width: 1024px) {
  .blog__col-left {
    margin-right: 30px;
    width: calc(100% - 330px);
  }
}
@media (max-width: 640px) {
  .blog__col-left {
    width: 100%;
    margin-right: 0px;
  }
}

.blog__col-right {
  min-width: 334px;
  max-width: 334px;
}
@media (max-width: 1024px) {
  .blog__col-right {
    min-width: 300px;
    max-width: 300px;
  }
}
@media (max-width: 767.98px) {
  .blog__col-right {
    min-width: 270px;
    max-width: 270px;
  }
}
@media (max-width: 640px) {
  .blog__col-right {
    margin-top: 55px;
    width: 100%;
    min-width: inherit;
    max-width: inherit;
  }
}

/*---------------------------------------*/
/*--------       Blog List         ------*/
/*--------------------------------------*/
@media (min-width: 992px) {
  .tt-post-list .tt-post + .tt-post {
    margin-top: 43px;
  }
}
@media (max-width: 991.98px) {
  .tt-post-list .tt-post + .tt-post {
    margin-top: 40px;
  }
}
@media (max-width: 575.98px) {
  .tt-post-list .tt-post + .tt-post {
    margin-top: 30px;
  }
}

/*---------------------------------------*/
/*--------         Post            ------*/
/*--------------------------------------*/
.tt-post__img {
  position: relative;
}

.tt-post__wrapper {
  position: relative;
  z-index: 4;
}
.tt-post__wrapper:not(:first-child) {
  margin-top: -53px;
}
.tt-post__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 51%;
  border-radius: 0px 40px 0px 0px;
  background-color: #005395;
}

.tt-post__wrapper02 {
  background-color: #ffffff;
  box-shadow: 0px 34px 46px rgba(197, 205, 216, 0.3);
  margin-left: 40px;
  position: relative;
  border-radius: 0px 0px 0px 40px;
  padding: 31px 35px 40px 40px;
}

.tt-post__data {
  color: #ffffff;
  padding: 14px 40px 12px 82px;
  position: relative;
  font-size: 14px;
}
.tt-post__data a {
  color: #00aeff;
  display: inline-block;
  position: relative;
}
.tt-post__data a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  width: 0%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: currentColor;
  transition: width 0.2s linear;
}
.tt-post__data a.tt-link-color02 {
  color: #ffffff;
}
.tt-post__data a:hover:before {
  width: 100%;
}
.tt-post__data [class^=icon] {
  font-size: 11px;
  margin-right: 3px;
}

.tt-post__title {
  color: #4c4c4c;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 21px;
}
.tt-post__title a {
  color: #4c4c4c;
  display: inline-block;
}
.tt-post__title a:hover {
  color: #005395;
}

.tt-post__link {
  display: inline-block;
  margin-top: 16px;
  font-weight: 700;
  color: #005395;
  font-size: 15px;
  letter-spacing: 0.05em;
  transition: color 0.3s linear;
}
.tt-post__link .tt-btn__icon {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 22px;
}
.tt-post__link:hover {
  color: #ff8400;
}

@media (max-width: 1199.98px) {
  .tt-post__data {
    padding-left: 77px;
  }

  .tt-post__wrapper02 {
    margin-left: 35px;
    padding-left: 35px;
  }
}
@media (max-width: 991.98px) {
  .tt-post__data {
    padding-left: 72px;
  }

  .tt-post__wrapper:before {
    border-radius: 0px 30px 0px 0px;
  }

  .tt-post__wrapper02 {
    padding: 31px 30px 40px;
    border-radius: 0px 0px 0px 30px;
  }

  .tt-post__title {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 13px;
  }

  .tt-post__link {
    margin-top: 8px;
  }
}
@media (max-width: 767.98px) {
  .tt-post__data {
    padding-left: 41px;
  }

  .tt-post__wrapper02 {
    margin-left: 15px;
    padding: 26px 24px 27px;
  }

  .tt-post__title {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 13px;
  }
}
/*---------------------------------------*/
/*--------      Blog Aside        ------*/
/*--------------------------------------*/
.blog-aside__wrapper {
  background-color: #ffffff;
  box-shadow: 0px 14px 46px rgba(197, 205, 216, 0.3);
  padding: 36px 35px 50px;
}
.blog-aside__wrapper > .blog-aside__item:not(:first-child) {
  border-top: 2px solid #f3f8fc;
}

.blog-aside__item + * {
  border-top: 2px solid #f3f8fc;
  margin-top: 30px;
  padding-top: 30px;
}

.blog-aside__title {
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0 0 17px 0;
  margin-top: -7px;
}

@media (max-width: 991.98px) {
  .blog-aside__wrapper {
    padding: 30px 30px 44px;
  }
}
@media (max-width: 767.98px) {
  .blog-aside__wrapper {
    padding: 30px 25px 35px;
  }
}
/*---------------------------------------*/
/*--------    Calendar Aside       ------*/
/*--------------------------------------*/
.vanilla-calendar {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.vanilla-calendar-btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  min-width: 27px;
  height: 34px;
  outline: none;
  overflow: visible;
  padding: 0;
  text-align: center;
  position: absolute;
  color: #555555;
  font-family: "font-icon" !important;
}
.vanilla-calendar-btn svg {
  display: none;
}
.vanilla-calendar-btn:before {
  font-family: "font-icon";
  font-size: 20px;
  content: "\e91f";
}
.vanilla-calendar-btn[data-calendar-toggle=previous] {
  right: 35px;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.vanilla-calendar-btn[data-calendar-toggle=next] {
  right: 0;
  content: "\e91f";
}
.vanilla-calendar-btn:hover {
  color: #ff8400;
}
.vanilla-calendar-btn:focus {
  outline: none;
}

.vanilla-calendar-header {
  align-items: center;
  display: flex;
  padding-bottom: 12px;
}

.vanilla-calendar-header__label {
  font-size: 14px;
}

.vanilla-calendar-week {
  background-color: #005395;
  box-shadow: 0px 2px 5px rgba(0, 83, 149, 0.3);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.vanilla-calendar-week span {
  color: #ffffff;
  flex-direction: column;
  flex: 0 0 14.28%;
  font-size: 13px;
  font-weight: bold;
  max-width: 14.28%;
  padding: 4px 0px;
  text-align: center;
}

.vanilla-calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.vanilla-calendar-date {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 14.28%;
  max-width: 14.28%;
  padding: 3px 0;
  font-size: 13px;
  color: #4c4c4c;
}
.vanilla-calendar-date:hover {
  border-color: #ff8400;
}

.vanilla-calendar-date--active {
  cursor: pointer;
}

.vanilla-calendar-date--today {
  background-color: #ff8400;
  color: #ffffff;
}
.vanilla-calendar-date--today:hover {
  border-color: #ff8400;
}

.vanilla-calendar-date--selected {
  border-color: #ff8400;
}

.vanilla-calendar-date--disabled {
  border-radius: 0;
  cursor: not-allowed;
  opacity: 0.2;
}

.tt-sound-player {
  width: 100%;
}
.tt-sound-player iframe {
  width: 100%;
}

.tt-blockquote02.tt-blockquote02__top {
  margin-top: 37px;
}

.tt-blockquote02 {
  background-color: #f5f7fa;
  padding-bottom: 45px;
  margin-top: 8px;
  position: relative;
  border-radius: 0px 0px 40px 0px;
}
.tt-blockquote02:before {
  font-family: "font-icon";
  content: "\e926";
  position: absolute;
  right: 55px;
  bottom: 10px;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  font-size: 77px;
  color: #005395;
}

.tt-blockquote02__notes {
  font-size: 14px;
  margin-top: 15px;
}
.tt-blockquote02__notes strong {
  font-size: 16px;
}

.tt-blockquote02__line {
  position: relative;
  padding: 36px 44px 0;
}
.tt-blockquote02__line:before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #005395;
}
.tt-blockquote02__line > *:nth-child(1) {
  margin-top: 0;
}

@media (max-width: 991.98px) {
  .tt-blockquote02 {
    margin-bottom: 11px;
  }
  .tt-blockquote02:before {
    font-size: 57px;
    right: 30px;
  }

  .tt-blockquote02__line {
    padding: 30px 30px 0;
  }

  .tt-blockquote02__notes {
    font-size: 13px;
  }
  .tt-blockquote02__notes strong {
    font-size: 15px;
  }

  .tt-post__wrapper:before {
    width: calc(100% - 30px);
  }
}
@media (max-width: 767.98px) {
  .tt-post__wrapper:before {
    width: calc(100% - 20px);
  }

  .tt-blockquote02 {
    padding-bottom: 35px;
  }
  .tt-blockquote02:before {
    font-size: 40px;
    right: 25px;
  }

  .tt-blockquote02__line {
    padding: 25px 25px 0;
  }
  .tt-blockquote02__line:before {
    width: 3px;
  }
}
.tt-btn__center .tt-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 81px;
  height: 81px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #f3f8fc;
  color: #005395;
  text-shadow: 0px 3px 6px rgba(12, 76, 147, 0.35);
}
.tt-btn__center .tt-icon.icon-2919521 {
  font-size: 26px;
}
.tt-btn__center .tt-link {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}
@media (min-width: 1200px) {
  .tt-btn__center {
    margin-top: -62px;
  }
}
@media (max-width: 1199.98px) {
  .tt-btn__center {
    margin-top: -47px;
  }
}
@media (max-width: 991.98px) {
  .tt-btn__center .tt-icon {
    width: 65px;
    height: 65px;
    font-size: 14px;
  }
  .tt-btn__center .tt-icon.icon-2919521 {
    font-size: 22px;
  }
  .tt-btn__center .tt-link {
    font-size: 15px;
    margin-top: 10px;
  }
}
@media (max-width: 767.98px) {
  .tt-btn__center .tt-icon {
    width: 55px;
    height: 55px;
    font-size: 13px;
  }
  .tt-btn__center .tt-icon.icon-2919521 {
    font-size: 20px;
  }
  .tt-btn__center .tt-link {
    font-size: 14px;
    margin-top: 5px;
  }
}

.tt-search-aside .tt-form__group {
  padding-bottom: 0;
}

/*
	Aside Post
*/
.aside-post__item + .aside-post__item {
  margin-top: 27px;
}

.aside-post__img img {
  width: 100%;
  max-width: inherit;
  height: auto;
}

.aside-post__wrapper {
  position: relative;
  margin-top: -42px;
}
.aside-post__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 18px);
  height: 75%;
  border-radius: 0px 22px 0px 0px;
  background-color: #005395;
}

.aside-post__wrapper02 {
  background-color: #ffffff;
  box-shadow: 0px 25px 36px rgba(197, 205, 216, 0.3);
  margin-left: 18px;
  position: relative;
  border-radius: 0px 0px 0px 22px;
  padding: 13px 18px 26px 22px;
}

.aside-post__data {
  color: #ffffff;
  padding: 8px 22px 7px 38px;
  position: relative;
  font-size: 14px;
}
.aside-post__data a {
  color: #00aeff;
  display: inline-block;
  position: relative;
}
.aside-post__data a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  width: 0%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: currentColor;
  transition: width 0.2s linear;
}
.aside-post__data a:hover:before {
  width: 100%;
}
.aside-post__data [class^=icon] {
  font-size: 11px;
  margin-right: 3px;
}

.aside-post__title {
  color: #4c4c4c;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 9px;
}
.aside-post__title a {
  color: #4c4c4c;
  display: inline-block;
}
.aside-post__title a:hover {
  color: #005395;
}

.aside-post__link {
  color: #005395;
  font-weight: 700;
  transition: color 0.2s linear;
}
.aside-post__link [class^=icon] {
  font-size: 21px;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 8px;
}
.aside-post__link span {
  position: relative;
  display: inline-block;
}
.aside-post__link:hover {
  color: #ff8400;
}

@media (max-width: 991.98px) {
  .aside-post__title {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 12px;
  }

  .aside-post__data {
    padding: 6px 35px 6px 40px;
    font-size: 13px;
  }
  .aside-post__data a {
    display: none;
  }

  .aside-post__link {
    font-size: 13px;
  }
  .aside-post__link [class^=icon] {
    font-size: 16px;
    margin-left: 4px;
  }

  .aside-post__wrapper:before {
    border-radius: 0px 30px 0px 0px;
    width: calc(100% - 20px);
  }

  .aside-post__wrapper02 {
    border-radius: 0px 0px 0px 30px;
    padding: 24px 19px 23px;
  }
}
/*---------------------------------------*/
/*------         Single Post      ------*/
/*--------------------------------------*/
.singlepost__indent {
  margin-top: 50px;
}

.singlepost__indent__title {
  font-size: 20px;
  line-height: 34px;
  color: #555555;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
  margin-top: -10px;
}

.tt-singlepost__content {
  position: relative;
  margin-top: -52px;
  padding: 0 0 0 40px;
}
.tt-singlepost__content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 142px;
  background-color: #005395;
}

.tt-singlepost__wrapper {
  background-color: #ffffff;
  box-shadow: 0px 34px 46px rgba(197, 205, 216, 0.3);
  position: relative;
  padding: 37px 40px 58px;
  border-radius: 0px 0px 0px 60px;
}

.tt-singlepost__title {
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  padding: 0 0 15px 0;
}
.tt-singlepost__title + * {
  margin-top: 0;
}

.tt-singlepost__title__top {
  margin-top: 46px;
}

.tt-singlepost__data {
  color: #ffffff;
  position: relative;
  padding: 13px 0 12px 45px;
  font-size: 14px;
}
.tt-singlepost__data a {
  color: #00aeff;
}
.tt-singlepost__data a.tt-link-color02 {
  color: #ffffff;
}
.tt-singlepost__data [class^=icon] {
  font-size: 11px;
  margin-right: 3px;
}

@media (max-width: 1024px) {
  .tt-singlepost__wrapper {
    padding: 37px 30px 58px;
    border-radius: 0px 0px 0px 30px;
  }
}
@media (max-width: 767.98px) {
  .tt-singlepost__data {
    padding: 13px 0 12px 31px;
  }

  .tt-singlepost__content {
    padding: 0 0 0 15px;
  }

  .tt-singlepost__wrapper {
    padding: 37px 30px 58px;
  }
}
@media (max-width: 575.98px) {
  .tt-singlepost__wrapper {
    padding: 26px 24px 27px;
  }
}
/*---------------------------------------*/
/*------    Single Post Icon   ------*/
/*--------------------------------------*/
.tt-singlepost__icon {
  position: absolute;
  top: 90px;
}
.tt-singlepost__icon > * {
  width: 40px;
  height: 40px;
  background-color: #00aeff;
  box-shadow: 0px 3px 7px rgba(38, 168, 228, 0.47);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.tt-singlepost__icon > *:hover {
  color: #005395;
}
.tt-singlepost__icon > *:nth-child(1) {
  z-index: 1;
}
.tt-singlepost__icon > *:nth-child(2) {
  z-index: 2;
}
.tt-singlepost__icon > *:nth-child(3) {
  z-index: 3;
}
@media (max-width: 991.98px) {
  .tt-singlepost__icon {
    top: 70px;
  }
}
@media (min-width: 768px) {
  .tt-singlepost__icon {
    left: -40px;
  }
}
@media (max-width: 767.98px) {
  .tt-singlepost__icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    top: -50px;
    left: -15px;
    width: 100%;
  }
}

/*---------------------------------------*/
/*------        Single Post Tag    ------*/
/*--------------------------------------*/
.tt-list__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

.tt-list__label {
  color: #6c7176;
  margin-right: 14px;
}

/*---------------------------------------*/
/*------    Single Post Comments   ------*/
/*--------------------------------------*/
.tt-comments__level-01 {
  margin-left: 47px;
}

.tt-comments__level-02 {
  margin-left: 77px;
}

.tt-comments {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 2px solid #f8f8fa;
  position: relative;
  padding: 15px 19px 21px 0;
  border-radius: 0px 0px 0px 25px;
}
.tt-comments + .tt-comments {
  margin-top: 18px;
}
@media (max-width: 767.98px) {
  .tt-comments {
    padding-right: 15px;
  }
}

.tt-comments__avatar {
  width: 86px;
  height: 86px;
  min-width: 86px;
  margin-left: -43px;
  margin-top: 3px;
  background-color: #f8f8fa;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.tt-comments__avatar:before {
  content: "\e933";
  font-family: "font-icon";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 27px;
  opacity: 0.2;
}
.tt-comments__avatar img {
  position: relative;
}

.tt-comments__content {
  margin-left: 28px;
}

.tt-comments__title {
  color: #005395;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.tt-comments__info {
  color: #adadad;
  font-size: 13px;
  line-height: 1.2;
  margin-top: 4px;
}

.tt-comments__text {
  margin-top: 12px;
}
@media (min-width: 768px) {
  .tt-comments__text {
    padding-right: 20px;
  }
}

.tt-comments__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #005395;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  padding: 4px 12px 4px;
  height: 31px;
  max-width: 67px;
  transition: background-color 0.4s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.tt-comments__btn:hover {
  background-color: #ff8400;
}

@media (max-width: 767.98px) {
  .tt-comments__avatar {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-left: -30px;
  }
  .tt-comments__avatar:before {
    font-size: 25px;
  }

  .tt-comments__content {
    margin-left: 20px;
  }
}
@media (max-width: 575.98px) {
  .tt-comments__avatar {
    width: 60px;
    height: 60px;
    min-width: 60px;
    margin-left: -30px;
  }
  .tt-comments__avatar:before {
    font-size: 25px;
  }

  .tt-comments__level-01 {
    margin-left: 29px;
  }

  .tt-comments__level-02 {
    margin-left: 53px;
  }

  .tt-comments__content {
    display: inline-flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 18px;
  }
  .tt-comments__content .tt-comments__btn {
    order: 3;
    float: inherit;
    margin-top: 10px;
  }
}
/*---------------------------------------*/
/*---- Single Post Personal Block ------*/
/*--------------------------------------*/
.tt-personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  background-color: #f5f7fa;
  position: relative;
  padding: 40px 42px 40px 42px;
  border-radius: 0px 0px 40px 0px;
}

.tt-personal__avatar {
  overflow: hidden;
  border-radius: 50%;
  min-width: 131px;
  max-width: 131px;
  margin-left: -107px;
}
.tt-personal__avatar img {
  width: 131px;
  height: 131px;
  -o-object-fit: cover;
  object-fit: cover;
}
.tt-personal__avatar + .tt-personal__content {
  margin-left: 34px;
}

.tt-personal__content > *:nth-child(1):not(.tt-personal__title) {
  margin-top: 0;
}

.tt-personal__title {
  font-size: 20px;
  line-height: 1.2;
  color: #4c4c4c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding: 0 0 14px 0;
  margin-top: 5px;
}
.tt-personal__title + * {
  margin-top: 0;
}

@media (max-width: 1024px) {
  .tt-personal {
    padding: 20px;
    border-radius: 0px 0px 30px 0px;
  }

  .tt-personal__avatar {
    min-width: 91px;
    max-width: 91px;
    margin-left: -65px;
  }
  .tt-personal__avatar img {
    width: 91px;
    height: 91px;
  }
  .tt-personal__avatar + .tt-personal__content {
    margin-left: 24px;
  }

  .tt-personal__title {
    font-size: 18px;
  }

  .tt-personal__avatar + .tt-personal__content {
    margin-left: 25px;
  }
}
@media (max-width: 767.98px) {
  .tt-personal {
    flex-wrap: wrap;
  }

  .tt-personal__avatar {
    margin-left: 0px;
  }
  .tt-personal__avatar + .tt-personal__content {
    margin: 15px 0 0 0;
  }
}