.section-indent:not(.nomargin):not([class^="tt-offset"]){
	@include media-breakpoint-up(xxl) {
		margin-top: 120px;
	}
	@include media-breakpoint-down(xxl) {
		margin-top: 90px;
	}
	@include media-breakpoint-down(lg) {
		margin-top: 60px;
	}
	@include media-breakpoint-down(md) {
		margin-top: 50px;
	}
}
.section-inner{
	@include media-breakpoint-up(xxl) {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@include media-breakpoint-down(xxl) {
		padding-top: 90px;
		padding-bottom: 90px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.section-inner02{
	@include media-breakpoint-up(xxl) {
		padding-top: 120px;
		padding-bottom: 110px;
	}
	@include media-breakpoint-down(xxl) {
		padding-top: 90px;
		padding-bottom: 80px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 60px;
		padding-bottom: 50px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
.section-inner03{
	@include media-breakpoint-up(xxl) {
		padding-top: 120px;
		padding-bottom: 110px;
	}
	@include media-breakpoint-down(xxl) {
		padding-top: 90px;
		padding-bottom: 80px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 60px;
		padding-bottom: 130px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
.section-inner-top{
	@include media-breakpoint-up(xxl) {
		padding-top: 120px;
	}
	@include media-breakpoint-down(xxl) {
		padding-top: 90px;
	}
	@include media-breakpoint-down(lg) {
		padding-top: 60px;
	}
	@include media-breakpoint-down(md) {
		padding-top: 50px;
	}
}
.section-inner-bottom{
	@include media-breakpoint-up(xxl) {
		padding-bottom: 120px;
	}
	@include media-breakpoint-down(xxl) {
		padding-bottom: 90px;
	}
	@include media-breakpoint-down(lg) {
		padding-bottom: 60px;
	}
	@include media-breakpoint-down(md) {
		padding-bottom: 50px;
	}
}
.section-indent{
	position: relative;
}
.section__fluid{
	max-width: 1904px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 1401px){
		padding-left: 80px;
		padding-right: 80px;
	}
	@media (min-width: 1350px) and (max-width: 1400px){
		padding-left: 50px;
		padding-right: 50px;
	}
	@media (max-width: 1350px){
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (max-width: 1350px){
		padding-left: 15px;
		padding-right: 15px;
	}
}
.section__fluid-left{
	@include media-breakpoint-up(xxl) {
		padding-left: 80px;
	}
	@include media-breakpoint-between(lg, xxl) {
		padding-left: 50px;
	}
	@media (max-width: 1350px){
		padding-left: 15px;
	}
	@include media-breakpoint-down(md) {
		padding-left: 0px;
	}
}
.section__negative-01{
	@include media-breakpoint-up(xl) {
		margin-top: -203px;
		padding-bottom: 120px;
	}
	@include media-breakpoint-between(lg, xl) {
		margin-top: -203px;
		padding-bottom: 120px;
	}
	@include media-breakpoint-down(lg) {
		margin-top: -53px;
		padding-bottom: 60px;
	}
	@include media-breakpoint-down(md) {
		overflow: hidden;
		padding-bottom: 50px;
	}
}
.section__negative-02{
	margin-top: -44px;
}


@include media-breakpoint-down(xl) {
	.container__fluid-xl {
		max-width: inherit;
	}
}
@include media-breakpoint-down(lg) {
	.container{
		max-width: inherit;
		margin-left: 0;
		margin-right: 0;
	}
}

@include media-breakpoint-down(md) {
	.section__md-indent-none{
		padding-left: 0;
		padding-right: 0;
	}
}

.container{
	position: relative;
	z-index: 2;
}
.section-indent-small{
	margin-top: 50px;
}