/*
	Back To Top
*/
.tt-back-to-top{
	display: block;
	position: fixed;
	bottom: -90px;
	z-index: 10;
	color: #51acfb;
	transition: all 0.2s linear;
	background-color: $default_color01;
	border-radius: 50%;
	box-shadow: 0px 5px 10px rgba(12, 76, 147, 0.47);
	&:before{
		pointer-events:none;
	}
	&:after{
		content: "\e91f";
		display: block;
		font-size: 23px;
		line-height: 1;
		color: #ffffff;
		z-index: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(-90deg);
		pointer-events:none;
		transition: margin-top 0.2s linear;
	}
	&.tt-show{
		@media (min-width: 790px){
			bottom: 50px;
		}
		@media (max-width: 789px){
			bottom: 40px;
		}
	}
	&:hover{
		background-color: $default_color02;
		box-shadow: 0px 5px 10px rgba(255, 132, 0, 0.47);
		&:after{
			margin-top: -3px;
		}
	}
	@include media-breakpoint-up(lg) {
		right: 38px;
		width: 84px;
		height: 84px;
		&:after{
			font-size: 23px;
		}
	}
	@include media-breakpoint-down(lg) {
		right: 15px;
		width: 60px;
		height: 60px;
		&:after{
			font-size: 18px;
		}
	}
}

.tt-pupup-open{
	.tt-back-to-top{
		opacity: 0;
		pointer-events:none;
	}
}