/*
	Modal Default
*/
body.show-modal{
	overflow: hidden;
	width: 100%;
	z-index: 0;
}
/*Modal Size*/
.modal__size-lg{
	max-width: 750px;
}
[data-modal]{
	> *{
		pointer-events:none;
	}
}
.tt-gallery__wrapper{
	[data-modal]{
		display: block;
	}
}
/*
	Modal Display View
*/
.tt-modal__display{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content:center;
	transition: all 0.3s ease 0s;
	.ps__rail-x{
		display: none;
	}
	&.tt-modal__display-open{
		opacity: 1;
		visibility: visible;
		z-index: 50;
		.tt-modal__display-body{
			opacity: 1;
			@include media-breakpoint-up(md) {
				transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			}
			@include media-breakpoint-down(md) {
				transform: translateX(0%);
			}
		}
		.tt-modal__display-wrapper{
			opacity: 1;
		}
	}
	@include media-breakpoint-up(sm) {
		padding: 30px;
	}
	@include media-breakpoint-down(sm) {
		padding: 15px;
	}
}
.tt-modal__display-wrapper{
	background-color: rgba(0,57,102, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.4s ease 0s;
	opacity: 0;
}
.tt-modal__body{
	background-color: #ffffff;
	border-radius: 0px 0px 0px $radius_size01_lg;
	position: relative;
	transition: all 0.5s ease 0s;
	opacity: 0;
	@include media-breakpoint-down(lg) {
		border-radius: 0px 0px 0px $radius_size01_md;
	}
	@include media-breakpoint-up(md) {
		transform: perspective(600px) translate(0px, -100%) rotateX(25deg);
	}
	@include media-breakpoint-down(md) {
		transform: translateX(-100%);
		border-radius: 0px 0px 0px $radius_size01_md;
	}
	&.fixed-height{
		height: calc(100vh - 110px);
	}
}
.tt-modal__close{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #ffffff;
	background-color: $default_color01;
	outline: none;
	z-index: 1;
	box-shadow: 0px 5px 10px rgba(12, 76, 147, 0.47);
	transition: background-color .3s linear;
	&:focus{
		outline: none;
	}
	> *{
		pointer-events:none;
	}
	&:before{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 18px;
		margin-top: -1px;
		transition: all .3s ease-in;
	}
	label{
		cursor: pointer;
		transition: all .3s ease-in;
		color: #ffffff;
		font-size: 16px;
		opacity: 0;
		font-family: $default_font02;
		font-weight: 600;
		transform: scale(0);
	}
	&:hover{
		background-color: $default_color02;
	}
	@include media-breakpoint-up(lg) {
		transform: translateX(100%);
		width: 75px;
		height: 75px;
		&:hover{
			label{
				transform: scale(1);
				opacity: 1;
			}
			&:before{
				opacity: 0;
			}
		}
	}
	@include media-breakpoint-down(lg) {
		width: 70px;
		height: 70px;
		label{
			display: none;
		}
	}
	@include media-breakpoint-down(lg) {
		width: 60px;
		height: 60px;
		label{
			display: none;
		}
	}
}

/*
	View Modal(*Pattern Gallery)
*/
.tt-view__layout{
	position: relative;
	width: 100%;
}
.tt-view__close{
	position: absolute;
	top: 32px;
	right: 32px;
	z-index: 11;
	width: 37px;
	height: 37px;
	cursor: pointer;
	display: inline-block;
	&:before,
	&:after {
		content: ' ';
		position: absolute;
		top: 1px;
		right: 16px;
		height: 33px;
		width: 3px;
		pointer-events: none;
		line-height: 0;
		background-color: #ffffff;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:hover{
		&:before,
		&:after {
			background-color: $default_color02;
		}
	}
	@include media-breakpoint-down(sm) {
		top: 22px;
		right: 10px;
		&:before,
		&:after{
			height: 30px;
		}
	}
}


/*
	View 02 Modal ( *Pattern Video)

*/
.tt-view02__layout{
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.tt-view02__close{
	position: absolute;
	top: 32px;
	right: 32px;
	z-index: 11;
	width: 37px;
	height: 37px;
	cursor: pointer;
	display: inline-block;
	&:before,
	&:after {
		content: ' ';
		position: absolute;
		top: 1px;
		right: 16px;
		height: 33px;
		width: 3px;
		pointer-events: none;
		line-height: 0;
		background-color: #ffffff;
	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}
	&:hover{
		&:before,
		&:after {
			background-color: $default_color02;
		}
	}
}

/*
	Layout Gallery
*/
/*Swiper Style*/
.tt-modal__display{
	.swiper-container{
		height: 100%;
	}
	.swiper-wrapper{
		height: 100%;
		width: 100%;
	}
	.tt-view__layout{
		height: 100%;
	}
	.swiper-slide{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		height: 100%;
		padding:0 40px;
	}
}
.modal-slider__arrow{
	position: absolute;
	z-index: 11;
	top: 50%;
	width: 30px;
	height: 30px;
	border-top: 4px solid #ffffff;
	border-right: 4px solid #ffffff;
	cursor: pointer;
	transform: translateÐ(-50%);
}
.modal-slider__prev{
	transform: rotate(-135deg);
}
.modal-slider__next{
	transform: rotate(45deg);
}
@include media-breakpoint-up(sm) {
	.modal-slider__prev{
		left: 30px;
	}
	.modal-slider__next{
		right: 30px;
	}
}
@include media-breakpoint-down(sm) {
	.modal-slider__arrow{
		width: 20px;
		height: 20px;
	}
	.modal-slider__prev{
		left: 5px;
	}
	.modal-slider__next{
		right: 5px;
	}
}

/*
	Modal Layout
*/
.tt-modal__inner{
	padding: 53px 50px 60px;
	position: relative;
}
.tt-modal__title{
	font-size: 42px;
	line-height: 1.2;
	font-family: $default_font02;
	font-weight: 600;
	color: $default_color03;
	padding:0 0 35px 0;
	& + *{
		margin-top: 0;
	}
}
@include media-breakpoint-down(lg) {
	.tt-modal__inner{
		padding: 53px 50px 60px;
	}
	.tt-modal__title{
		font-size: 36px;
		padding:0 0 25px 0;
	}
}
@include media-breakpoint-down(md) {
	.tt-modal__title{
		font-size: 29px;
	}
	.tt-modal__inner{
		padding: 53px 35px 60px;
	}
}
@include media-breakpoint-down(sm) {
	.tt-modal__inner{
		padding: 70px 25px 35px;
	}
}


.tt-modal__fixed-height{
	position: relative;
	height: calc(100vh - 150px);
}

.tt-modal__layout{
	p + form{
		@include media-breakpoint-up(lg) {
			margin-top: 29px;
		}
		@include media-breakpoint-down(lg) {
			margin-top: 20px;
		}
	}
}


/*
	Layout Video
*/
.video-responsive{
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 25px;
	video,
	embed,
	object,
	iframe{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}



/*
	Upload Layout
*/
.modalAddress__custom-row{
	.tt-col-wide{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
	}
}
.tt-upload{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	margin-top: -13px;
	> *{
		margin-top: 13px;
	}
}
.tt-upload__item{
	border:1px solid #e3e6ea;
	background-color: #ffffff;
	width: 77px;
	height: 77px;
	margin-left: 13px;
	font-size: 20px;
	color: #e3e6ea;
	cursor: pointer;
	position: relative;
	transition: color 0.4s;
	&:before,
	&:after{
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: 3;
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		transform: scale(0);
		transition: 0.4s;
		pointer-events: none;
	}
	&:before{
		border-bottom: 1px solid $default_color01;
		border-left: 1px solid $default_color01;
		transform-origin: 0 100%;
	}
	&:after{
		border-top: 1px solid $default_color01;
		border-right: 1px solid $default_color01;
		transform-origin: 100% 0%;
	}
	input[type=file]{
		display: none;
	}
	.tt-icon{
		display: inline-flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.5s linear;
		&.tt-icon__default{
			&:before{
				transform: rotate(45deg);
				pointer-events:none;
			}
		}
		&.tt-icon__active{
			opacity: 0;
			visibility: hidden;
			&:before,
			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				background-color: $default_color01;
				height: 5px;
			}
			&:before{
				width: 25px;
				top: 43px;
				left: 11px;
				transform: rotate(45deg);
			}
			&:after{
				width: 40px;
				transform: rotate(-45deg);
				left: 25px;
				top: 36px;
			}
		}
	}
	&:hover{
		color: $default_color01;
		&:before,
		&:after{
			transform: scale(1);
		}
	}
	&.tt-files-uploaded{
		border-color:$default_color01;
		.tt-icon{
			&.tt-icon__default{
				opacity: 0;
				visibility: hidden;
			}
			&.tt-icon__active{
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.tt-upload__item{
		width: 43px;
		height: 43px;
		font-size: 14px;
		.tt-icon{
			&.tt-icon__active{
				&:after,
				&:before{
					height: 3px;
				}
				&:after{
					width: 24px;
					top: 20px;
					left: 13px;
				}
				&:before{
					width: 10px;
					top: 23px;
					left: 8px;
				}
			}
		}
	}
	.modalAddress__custom-row{
		> *{
			&:first-child{
				max-width: calc(100% - 73px);
			}
		}
	}
}
@media (max-width: 470px){
	.modalAddress__custom-row{
		> *{
			&:first-child{
				max-width: inherit;
				width: 100%;
			}
		}
		.tt-col-wide{
			margin-top: 1px;
			margin-left: -13px;
		}
	}
}

.tt-modal-message{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	position: absolute;
	margin: 0;
	opacity: 0;
	transition: opacity .1s ease;
	z-index: 2;
	top: -4px;
	left: -4px;
	width: calc(100% + 8px);
	height: calc(100% + 8px);
	background-color: #fff;
	color: $default_color02;
	font-family: $default_font02;
	font-size: 23px;
	line-height: 1.45;
	font-weight: 600;
	pointer-events: none;
}
.tt-modal-message.tt-active{
	opacity: 1;
	pointer-events: auto;
}
form{position: relative;}